#profile {
  grid-area: PROFILE;
  width: 20rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 1rem 0 1rem 1rem;

  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  border-radius: 16px;

  > figure {
    width: 60px;
    height: 60px;

    background: linear-gradient(-45deg, #2DAA6E 0%,#5EC6B9 15%, #2DAAAA 33.33%, #698DD9 50%, #856CCF 66.67%, #D658B3 100%);
    background: -moz-linear-gradient()(-45deg, #2DAA6E 0%,#5EC6B9 15%, #2DAAAA 33.33%, #698DD9 50%, #856CCF 66.67%, #D658B3 100%);

    padding: 2px;
    border-radius: 10px;


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 2px solid var(--gray-100);
      border-radius: 10px;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    h1 {
      font-size: var(--text-md);
      font-weight: bold;
    }

    span {
      font-size: var(--text-sm);
      color: var(--gray-500);
    }
  }
}

@media screen and (width <= 80rem) {
  #profile {
    width: 100%;
    /* max-width: calc(100% -2rem); */
  }
}