#rest {
  grid-area: REST;

  width: 100%;
  max-width: 35.5rem;

  background-color: var(--gray-100);

  padding: 2rem;
  border-radius: 16px;
  border: 1px solid var(--gray-300);

  display: flex;
  align-items: center;
  justify-content: space-between;

  > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    p {
      color: var(--gray-500);
      
      span {
        color: var(--gray-700);
        font-weight: 700;
        font-size: var(--text-md);
      }
    }

      .cuts {
        width: 25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .bar {
          background-color: var(--gray-300);
          width: 21rem;
          height: 0.5rem;
          border-radius: 999px;

          .progress {
            height: 100%;
            background: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33%, #856CCF 67%, #D658B3 100%);
            border-radius: 999px;
            
            animation: progressGrowth 2s ease;
          }
        }

        label {
          color: var(--gray-500);
          font-size: var(--text-sm);
        }
    }
  }

  > div:last-child {
    background-color: var(--gray-200);
    border-radius: 999px;

    width: 4.5rem;
    height: 4.5rem;

    filter:drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.08))
    drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 15px 9px rgba(0, 0, 0, 0.04))
    drop-shadow(0px 26px 10px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 40px 11px rgba(0, 0, 0, 0));
    ;

    text-align: center;

    &.finished {
      background: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33%, #856CCF 67%, #D658B3 100%);
      color: var(--white);

      animation: backgroundGrowth 2s ease;
    }
  }
  
}

@keyframes progressGrowth {
  0% {
    width: 0;
  }
  100% {
    width: 1;
  }
}

@keyframes backgroundGrowth {
  0%{
    background: var(--base-gray-200);
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    background: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33%, #856CCF 67%, #D658B3 100%);
    transform: scale(1);
  } 
}

@media screen and (width <= 80rem) {
  #rest {
    max-width: 100%;
  }

  .cuts {
    width: fit-content !important;
  }

  .bar {
    width: 20rem !important;
    margin-right: 2rem;
  }
}

@media screen and (width <= 37rem) {
  #rest {
    .gift {
      display: none;
    }

    > div{
      width: 100%;
    }

    .cuts {
      width: 100% !important;
    }

    .bar {
      max-width: 14rem !important;
      margin-right: 0;
    }
    label {
      margin-left: auto;
      width: 3rem;
    }
  }
}