*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --pink: #D658B3;
  --green: #45B442;

  --gray-700: #332B31;
  --gray-600: #4A4448;
  --gray-500: #756C71;
  --gray-400: #D3CFD2;
  --gray-300: #DFDCDF;
  --gray-200: #E9E7E9;
  --gray-100: #F4F1F2;
  --gray-0: #FFFFFF

  --text-lg: 1.5rem;
  --text-md: 1.125rem;
  --text-base: 1rem;
  --text-sm: 0.875rem;
  --text-xsm: 0.75rem
}

::-webkit-scrollbar{
  width: .4rem;
}

::-webkit-scrollbar-thumb{
  background: -webkit-linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33%, #856CCF 67%, #D658B3 100%);
  border-radius: 999px;
}

::-webkit-scrollbar-track{
  margin-block: 5px;
}

body {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  background-color: var(--gray-200);
}

main {
  display: grid;
  column-gap: 1.5rem;
  row-gap: 1rem;
  grid-template-areas: 
  "PROFILE CARD CARD"
  "HISTORY CARD CARD"
  "HISTORY REST REST";
}

.container {
  max-width: 57rem;
  padding-inline: 1rem;
  margin-inline: auto;
}

h1 {
  font: bold var(--text-md) / 1.4 var(--ff-base)
}


img, i {
  max-width: 100%;
} 


