body > header {
  width: 100%;
  /* max-width: 25rem; */
  margin-inline: auto;
  
  margin-bottom: 4rem;


  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;

    > img {
      width: 7.25rem;
      padding-block: 4rem 2rem;
    }
  
    > form {
      position: relative;
      width: 100%;
      max-width: 25rem;
  
      > input {
        width: 100%;
        padding: 1rem;
  
        border-radius: 12px;
  
        background-color: var(--gray-300);
        border: 1px solid var(--gray-400);
  
        caret-color: var(--pink);
  
        font-size: var(--text-base);
        font-weight: 500;
        line-height: 1.4;
        
        &:focus {
          outline: none;
          border: 1px solid var(--pink);
          color: var(--gray-700);
  
          &::placeholder {
            color: transparent;
          }
        }
        
      }
  
      > button {
        position: absolute;
        right: 0.5rem;
        top: 0.7rem;
  
        display: inline-flex;
        align-items: center;
        justify-content: center;
  
        border: none;
        border-radius: 8px;
        background-color: var(--gray-700);
  
        cursor: pointer;
  
        &:not(:disabled):hover {
          background-color: var(--gray-600);
          transition: background-color 0.1s ease-in-out;
        }
  
        &:focus {
          outline: none;
        }
  
        &:disabled {
          opacity: 0.6;
        }
        
        i {
          color: white;
          padding: 0.625rem;
        }
      }
    }
  }
}

@media screen and (width <= 80rem) {
  body {
    > header {
      margin-bottom: 1.5rem;
    }
  }
}